:root {
    --border: #727171;
    --branco: #ffffff;
    --btn: #990000;
}

* {
    margin: 0;
    padding: 1px 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fcfcfc;
}

header {
    color: #030303;
}

.caixa-logo {
    padding: 5px 5px;
}

#logo {
    width: 80px;
    height: 30px;
}

li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 20px;
}

li {
    list-style: none;
}

ul {
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.linha {
    margin: auto;
    width: 1000px;
    gap: 15px 0px;
}

.caixa-texto {
    height: 260px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

.categorias {
    background-color: red;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 5px;
}

.top {
    border: 1px solid black;
    border-radius: 10px;
    width: 60px;
    height: 13px;
    font-size: 10px;
    padding: 2px;
}

.titulo {
    background-color: orange;
    height: 75px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 23px;
}

.texto {
    background-color: yellow;
    padding: 5px 10px;
    font-size: 11px;
    font-weight: bold;
    height: 40px;
}

.carga {
    font-size: 12px;
    font-weight: bold;
}

.icone {
    background-color: green;
    display: flex;
    padding: 1px 10px;
    align-items: center;
    gap: 5px;
}

.caixa-btn {
    background-color: blue;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 60px;
}

.inscricao {
    height: 20px;
    width: 150px;
    border-radius: 20px;
}

.color-btn {
    background-color: #ff0000;
    border: none;
    color: #ffffff;
}

.color-caixa {
    color: #ff0000;
    border-color: #ff0000;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 80px;
    gap: 20px;
}

.full-rodape {
    width: 100%;
    background-color: #333333;
    color: var(--branco);
}

.rodape {
    display: flex;
    justify-content: space-around;
    border-bottom: #444444 1px solid ;
}

.titulo-main {
    font-weight: bold;
    font-size: 20px;
}

.text {
    font-size: 12px;
}

.₢ {
    gap: 5px;
    display: flex;
    justify-content: center;
}

.final {
    font-size: 12px;
    margin: 5px;
}